body {
    background-image: url("/images/background.png");
    background-size: cover; 
    background-position: center center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #FFFFFF;
    width: 1034px;
    height: 600px;

}

/*Logo*/
.logo {
    margin: 30px;
    text-align: center;
}


/*Search*/
.search-content {
    display: flex;
    justify-content: center
}

.search-robot {
    display: grid;
    align-content: center;
    margin-right: -200px;
    z-index: 1;
}

.search {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 428px;
  }
  
.search-input {
    height: 40px;
    border: none;
    outline: none;
    flex: 1;
    padding: 5px 5px 5px 50px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 0px 6px 30px 0px rgba(0, 97, 255, 0.20);
}
  
.search-icon {
    background: linear-gradient(143deg, #0061FF 0%, #60EFFF 100%);
    border-radius: 200px;
    color: #FFFFFF;
    margin-right: -48px;
    padding: 15px;
    z-index: 1;
    font-size: 20px;
}

.robot img {
    width: 207px;
    height: 242px;
    margin-top: 15px;
    margin-left: 70px; 
}

/*Circle*/

.circle {
    display: grid;
    align-content: center;
    height: 400px;
    padding: 0px 69px;
    border-radius: 50%;
    background: linear-gradient(143deg, #0061FF 0%, #60EFFF 100%);
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 18px;
}

.line-horizontal {
    display: inline-flex;
}

.line-one {
    width: 114.5px;
    border-top: 2px solid #FFFFFF;
}

.line-two {
    width: 10px;
    border-top: 2px solid #FFFFFF;
    margin-left: 10px;
}



